*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Mono', sans-serif;
}

ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

li {
	margin: 15px 20px;
	padding: 0;
	text-align: center;
}

img {
	width: 100%;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 75px;
	background-color: #fff;
	text-align: center;
	padding: 25px 0;
}

.wrapper {
	padding-top: 75px;
	margin: 0 auto;
}

input {
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
}

::-webkit-input-placeholder {
	font-size: 1em;
	padding-left: 10px;
	line-height: 1;
	font-family: 'Roboto Mono', sans-serif;
}

::-moz-placeholder {
	font-size: 1em;
	padding-left: 10px;
	line-height: 1;
	font-family: 'Roboto Mono', sans-serif;
}

:-ms-input-placeholder {
	font-size: 1em;
	padding-left: 10px;
	line-height: 1;
	font-family: 'Roboto Mono', sans-serif;
}


/*OVERLAY*/

#overlay {
	background-color: rgba(59, 60, 59, .95);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
	z-index: 1;
}

#overlay img {
	margin-top: 100px;
	width: 275px;
}

#overlay p {
	color: #fff;
	width: 245px;
	margin: 0 auto;
	line-height: 1.8;
	margin-top: 60px;
	text-align: left;
}

#overlay .prev {
	background-color: transparent;
	z-index: 2;
	border: 0;
	position: absolute;
	top: 290px;
	left: 100px;
	padding: 5px;
}

#overlay .next {
	background-color: transparent;
	z-index: 2;
	border: 0;
	position: absolute;	
	top: 290px;
	right: 100px;
	padding: 5px;
}

#overlay .lnr-chevron-right {
	font-family: 'Linearicons-Free';
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

#overlay .lnr-chevron-left {
	font-family: 'Linearicons-Free';
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}


/*MEDIA QUERIES*/


@media screen and (min-width: 360px) { /*iphone 6*/

	#overlay img {
		margin-top: 150px;
		width: 320px;
	}
	
	#overlay p {
		width: 300px;
	}
	
	#overlay .prev {
		top: 365px;
	}
	
	#overlay .next {
		top: 365px;
	}

}

@media screen and (min-width: 399px) { /*large phones*/

	#overlay img {
		margin-top: 175px;
		width: 360px;
	}
	
	#overlay p {
		width: 330px;
	}

	#overlay .prev {
		top: 440px;
		left: 100px;
		padding: 5px;
	}
	
	#overlay .next {
		top: 440px;
		right: 100px;
		padding: 5px;
	}

}

@media screen and (min-width: 424px) {

	.grid {
		max-width: 420px;
	}
	
	img {
		width: 200px;
	}
	
	li {
		padding: 0;
		margin: 0 5px 5px 5px;
		float: left;
	}
	
	#overlay img {
		margin-top: 175px;
		width: 400px;
	}
	
	#overlay p {
		width: 320px;
	}

}


@media screen and (min-width: 768px) {
	
	header {
		height: 85px;
		padding: 22px 0;
	}	
	
	.wrapper {
		padding-top: 85px;
	}
	
	input {
		width: 33%;
		height: 30px;
	}	
	
	.grid {
		max-width: 640px;
	}
	
	li {
		padding: 0;
		margin: 0 10px 20px 10px;
	}
	
	img {
		width: 300px;
	}

	#overlay img {
		margin-top: 10%;
		width: 600px;
	}
	
	#overlay p {
		width: 500px;
	}
	
	#overlay .prev {
		top: 235px;
		left: 15px;
		padding: 8px;
	}
	
	#overlay .next {
		top: 235px;
		right: 15px;
		padding: 8px;
	}
	
	#overlay .lnr-chevron-right {
		font-size: 40px;
	}
	
	#overlay .lnr-chevron-left {
		font-size: 40px;
	}
	
}

@media screen and (min-width: 1024px) {
		
	img {
		width: 200px;
	}
	
	header {
		height: 100px;
		padding: 25px 0;
	}
	
	.wrapper {
		padding-top: 100px;
	}
	
	input {
		width: 460px;
		height: 40px;
	}
	
	li {
		margin: 0 60px 60px 0;
		width: 200px;
		height: 200px;
	}
	
	.grid {
		max-width: 980px;
	}
	
	li:nth-child(4n) {
		margin-right: 0;
	}
		
	#overlay img {
		width: 800px;
		margin-top: 100px;
	}
	
	#overlay p {
		width: 600px;
	}
	
	#overlay .prev {
		top: 325px;
		left: 20px;
	}
	
	#overlay .next {
		top: 325px;
		right: 20px;
	}
	
	#overlay .lnr-chevron-right {
		font-size: 40px;
	}
	
	#overlay .lnr-chevron-left {
		font-size: 40px;
	}	
	
	/*creates class for 1024 pixel grid js filtering*/
	.filtered {
		margin-right: 60px !important;
	}
	
}

@media screen and (min-width: 1400px) {
	
	#overlay .prev {
		top: 40%;
		left: 10%;
	}
	
	#overlay .next {
		top: 40%;
		right: 10%;
	}

}